body{
    width: 800px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px) {
    html{
        background-color: #eaf6ff;
    }
    
    h1{
        font-size: 2.5rem;
    }
}

@media (max-width: 500px){
    h1{
        font-size: 1.5rem;
    }
}