/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  *{
    font-family: "Inconsolata", serif;
  }
  body{
    background-color: antiquewhite;
    padding:2rem;
  }
  header{
    background-color: rgb(229, 154, 110);
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 3rem;
    border-radius: 20px;
  }

  main{
    padding: 1.5rem;

  }

  .left-side, .right-side{
    padding: 1.5rem;
  }

  h1{
    font-size: 5rem;
  }

  h2{
    font-size: 2.5rem;
  }
  h3{
    color: rgb(79, 136, 117);
  }

  @keyframes highlight {
    50%{color: rgb(79, 136, 117);
    font-weight: bolder;}
  }

  .word:hover{
    animation: highlight 5s infinite;
  }

  .left-side{
    transition: transform .4s;
  }

  .left-side:hover{
    transform: scale(1.1);
  }